.contentWrapper {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: block;
    background: #f1f1f1;
    padding-top: 50px;
    box-sizing: border-box;
    &.closed {
        padding-left: 230px;
    }

    .contentHeader {
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 50px;
        padding: 10px;
    }
    .contentInner {
        margin: 10px;
        display: block;
        background: #fff;
        min-height: 100%;
        border-radius: 3px;
        padding: 20px;
        min-height: calc(100vh - 130px);
    }
}
